.container_btn {
    /*    
    display: flex;
    justify-content: center;
    */
}

.btn_traffic,
.btn_roadview,
.btn_terrain,
.btn_useDistrict,
.btn_nomal {

    width: 60px;
    height: 20px;

    background-color: #ffffff;
    
    margin-left: 5px;
    margin-right: 10px;

    border: none;

    font-size: 12px;

    &:hover{
        background-color: #f8f8f8;
    }
}