.container_btn {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
}

.btn_traffic,
.btn_roadview,
.btn_terrain,
.btn_useDistrict,
.btn_nomal {
    width: 60px;
    height: 20px;
    background-color: #ffffff;
    border: none;
    font-size: 12px;
    margin-top: 10px;
    transition: color 0.3s ease;
            
    &:hover {
        color: #258FFF;
    }
}