.infowindow {
    width: 250px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 5px; /* 인포윈도우를 위로 이동 */
    margin-left: -105px;
    transform: translateY(-150px); /* 인포윈도우를 위로 이동 */
    position: relative;

    .infowindewMessage {
        margin-top: 10px;
    }
}


.infowindow button {
    padding: 8px 12px;
    margin-right: 5px;
    background-color: #258fff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.infowindow button:hover {
    background-color: #1b6bc1;
}