.contents_container::-webkit-scrollbar {
  display: none;
}

.headerBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.divCenter {
  margin-top: 10vh;
  text-align: center;
}

.title {
  font-size: 48px;
  font-weight: bold;
}

.navTag {
  display: inline-block;
}

.blankSpace {
  height: 30vh;
}

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll_btn {
  border: none;
  transition: 0.3s;
  position: relative;
  background: transparent;
  padding: 10px 20px;
  font-size: 25px;
  cursor: pointer;
  overflow: hidden;

  opacity: 0;
  animation: fadein 3s forwards;
  animation-delay: 2s;

  &::before,
  &::after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 1px;
    background: #FEE500;
    opacity: 0;
    transform: scaleX(0);
    transition: 0.4s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &:hover {
    letter-spacing: 5px;
    color: var(--btn-bg);
    background: transparent;

    &::before,
    &::after {
      opacity: 1;
      transform: scaleX(1.2);
    }
  }
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
