.map_page {
    display: flex;

    .map_container {
        display: flex;

        .side_header {
            width:  23vw;
            height: 116px;
            background-color: #258FFF;
            

            .logo_container{

                margin-left: 20px;

                .logo_kakaoMap_text {
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(148deg) brightness(102%) contrast(103%);
                    margin-top: 10px;
                }
            }


            .map_search_container {

                width: 365px;
                height: 45px;
                border-radius: 10px;
                background-color: #ffffff;
                
                margin-top: 10px;
                margin-left: 10px;

                .map_searchBox {
                    
                    float: left;
                    width: 305px;
                    height: 30px;
    
                    border-radius: 6px;
                    border: 0;
    
                    padding-left: 10px;
                    padding-top: 5px;

                    margin-top: 3px;

                    outline: none;
                }

                .btn_container {

                    position: absolute;
                    float: right;
                    background-color: #ffffff;
                    border: none;
                    border-radius: 20px;

                    margin-right: 30px;
                    margin-top: 5px;

                    .search_icon {
                        
                        filter: invert(99%) sepia(0%) saturate(1140%) hue-rotate(180deg) brightness(84%) contrast(91%);
                        

                        & :hover {
                            filter: invert(16%) sepia(1%) saturate(0%) hue-rotate(19deg) brightness(97%) contrast(80%);
                        }
                    }

                }

            }
        }


        .map_search_container_2 {
            position: absolute;
            width: 300px;
        }


        .map_menu {
            width:  23vw;
            height: 54px;
            background-color: #258FFF;

            display: flex;
            flex-wrap: wrap;

            margin: 0;

            .search_tap_1,
            .search_tap_2,
            .search_tap_3 {

                margin-top: 15px;
                padding-left: 30px;
                padding-right: 40px;
                list-style: none;
                color: #f6f6f6;

                text-align: center;

                & :hover {
                    background-color: #1b6bc1;
                }
            }
        }


            .mapMode_title {
                font-weight: 600;
                margin-top: 30px;
                margin-left: 20px;
            }

            .map_control {
                width: 23vw;
            }

            .hr_1 {
                border: 0;
                width: 340px;
                height: 0;
                border-top: 1px solid #8c8c8c;
                margin-top: 30px;
            }
        
        .category_container {
            position: absolute;
            margin-top: 320px;
        }


        .search_list_container {
            position: absolute;
            margin-top: 380px;
        }

        .map_display {
            width: 77vw;
            height: 90vh;
        }
    }
}