.map_page {
    display: flex;

    .map_container {
        display: flex;

        .side_header {
            width:  23vw;
            height: 116px;
            background-color: #258FFF;

            .logo_container{

                margin-left: 20px;

                .logo_kakaoMap_text {
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(148deg) brightness(102%) contrast(103%);
                    margin-top: 10px;
                }
            }


            .map_menu_container {
                .map_menu {
                    width:  23vw;
                    height: 54px;
                    background-color: #258FFF;
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0;

                    .menu_tap_1,
                    .menu_tap_2,
                    .menu_tap_3 {
                        margin-top: 15px;
                        padding-left: 30px;
                        padding-right: 40px;
                        list-style: none;
                        text-align: center;

                        a {
                            color: #f6f6f6;
                            text-decoration: none;
                        }

                        a:hover {
                        background-color: #1b6bc1;
                        color: #ffffff;
                        }

                        & :hover {
                            background-color: #1b6bc1;
                        }
                    }
                }
            }
        }


        .content_container {
            width:  23vw;
        }








        
        .roadview_control_container {
            position: relative;
            

            .roadview_container {
                position: relative;
                
                top: 0;
                left: 0;
            }

            .roadview_button {
                position: relative;
                
            }
        }


        .search_list_container {
            position: absolute;
            margin-top: 380px;
        }


        .map_display {
            position: relative;
            width: 77vw;
            height: 90vh;
            z-index: 2;
            
            .roadview_container {
                position: absolute;
                z-index: 3;
                top: 11px;
                right: 140px;

                .roadview_size {
                    
                }
            }
        }
    }
}